**Comando em Python utilizado para exibir texto na tela**

In [1]:
print('Olá Mundo, que otimo dia!!!') #string

print("Olá Mundo!!!") #o python aceita " '

Olá Mundo, que otimo dia!!!
Olá Mundo!!!

**Variáveis**

In [2]:
a = 1  #int               #Nome de variáveis não podem começar com um número
b = 3.2 #float
nome = "Aristoteles"  #str             #Linguagem dinamicamente tipada
curso_py = 'Curso Python'
s2 = 234

In [3]:
print('a')
print(a)
print(b)
print(nome)

a
1
3.2
Aristoteles

In [4]:
print(type(a))
print(type(b))
print(type(nome))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
#Atribuição de variáveis em uma mesma linha
x, y, z,i = "Bola", "Viagem", "Número", 1
print(x)
print(y)
print(z)
print(i)

Bola
Viagem
Número
1

In [6]:
p, q, r = 11, "Cachorro", 3.2
print(p)
print(type(q))
print(type(r))

11
<class 'str'>
<class 'float'>

In [7]:
#Atribuição de um mesmo valor para váriáveis
t = u = v = 100
print(t)
print(u)
print(v)

100
100
100

In [8]:
#Diferenciação de maiúsculas e minúsculas em Python

Nome = 'Luisa'
Sobrenome = 'Pereira'

print('Meu nome é', Nome, Sobrenome) #Case Sensitive

Meu nome é Luisa Pereira

**Palavras reservadas**

![image.png]()

**Lendo valores de entrada**

In [9]:
usuario = 'Adson'
print(usuario)

Adson

In [10]:
usuario = input("Digite seu nome: ")

In [11]:
print("O nome digitado é:", usuario)

O nome digitado é: adson

In [12]:
#Input recebe str
n1 = input("Digite um número:")
n2 = int(input("Digite outro número:"))
n1 = int(n1)

print("A soma dos numeros é: ",n1+int(n2))
#Verificando o tipo de dados
print(type(n1))
print(type(n2))

A soma dos numeros é:  3
<class 'int'>
<class 'int'>

In [13]:
float(1)

bool(1) # True
bool(0) # False

False

In [14]:
#Conversao de String (texto) para Número (Inteiro)

n1 = int(input("Digite um número:"))
n2 = int(input("Digite outro número:"))

n3 = input("digite um numero")
n3 = int(n3)

print(type(n1))
print(type(n2))
print(type(n3))

<class 'int'>
<class 'int'>
<class 'int'>

**Outros exemplos de conversão int, float, str**

In [15]:
num = 89.777777

print(num)
valor1 = int(num) #conversão float para inteiro
print(type(valor1))
print(valor1)
print(round(num,2))

89.777777
<class 'int'>
89
89.78

In [16]:
valor2 = float(12) #conversao inteiro para float
print(type(valor2))
print(valor2)

<class 'float'>
12.0

In [17]:
print(type("123.45"))
valor3 = float("123.45") #conversão str para float
print(type(valor3))

valor3i = int("23") #conversão str para int
print(type(valor3i))

resultado = valor3 + valor3i
resultado

<class 'str'>
<class 'float'>
<class 'int'>

146.45

In [18]:
valor4 = str(12.5)    #conversao float para str
print(type(valor4))

valor5 = str(4.67)       #conversao inteiro para str
print(type(valor5))
print(valor4+valor5)

<class 'str'>
<class 'str'>
12.54.67

**Formatações Exibição**

In [20]:
meu_curso = "Introdução a pythOn"
meu_login = 'ANA'

print(type(meu_login))

print(meu_curso.upper(), meu_login.lower()) #upper - maiúsculo e lower - minúsculo

<class 'str'>
INTRODUÇÃO A PYTHON ana

In [22]:
titulo = 'linguagem python'
titulo.capitalize()

'Linguagem python'

In [23]:
frase = "apostila de python"
frase.title()

'Apostila De Python'

**Format() e % e f**

In [24]:
a = 'céu'
b = 'nuvens'
c = 'sol'
d= 'dsad'

print('Olho para o ',a, 'e vejo', b, 'e também o ',c)
print('Olho para o {} e vejo {} e também o {}'.format(c, b,a))
print(f'Olho para o {a} e vejo {b} e também o {c}')
print('Olho para o {troca3} e vejo {troca2} e também o {troca1}'.format(troca1= a, troca2= b,troca3=c))

Olho para o  céu e vejo nuvens e também o  sol
Olho para o sol e vejo nuvens e também o céu
Olho para o céu e vejo nuvens e também o sol
Olho para o sol e vejo nuvens e também o céu

In [25]:
n1 = 100.0
n2 = 2.5

print('O record dos {} metros foi batido, com {} segundos abaixo do antigo record'.format(n1, n2))

O record dos 100.0 metros foi batido, com 2.5 segundos abaixo do antigo record

In [26]:
r = "vermelho"
g = "verde"
b = "azul"

print("As cores básicas são: %s, %s e %s" % (r, g, b))

As cores básicas são: vermelho, verde e azul

In [27]:
taxa = 5.5
ingresso = 120.12

print('O valor do ingresso é %f e a taxa de emissão é %f' % (ingresso, taxa))

O valor do ingresso é 120.120000 e a taxa de emissão é 5.500000

In [28]:
print("%.2f" % taxa) #Float duas casas decimais
print("%.3f" % ingresso) #Float três casas decimais

5.50
120.120

In [29]:
cidade = "São Paulo"
print(f"A nome cidade é {cidade}.")

A nome cidade é São Paulo.

In [30]:
idade = 33.5
nome = "Ana"
print(f"A idade de {nome} é {idade}.")

A idade de Ana é 33.5.

## Variável booleana

In [31]:
# Trabalhando com o tipo booleano (True / False)
varbol_0 = False # 0
varbol_1 = True # 1

print(type(varbol_0), type(varbol_1))

<class 'bool'> <class 'bool'>

In [32]:
verdadeiro = bool(1)
falso = bool(0)

print("Valor 1 é igual a: ", verdadeiro)
print("Valor 0 é igual a: ", falso)

print(type(verdadeiro))

Valor 1 é igual a:  True
Valor 0 é igual a:  False
<class 'bool'>

**Operadores Aritméticos e Expressões**

In [33]:
a = 12
b = 2.25
c = 4

soma = a + b
sub = a - b
mul = a * b
div = a / b
div2 = a // b
exp = a ** 2
resto = a % b
expressao = ((a + b) / c) ** 2

print("a + b =", soma)
print("a - b =", sub)
print("a * b =", mul)
print("a / b =", div)
print("a // b =", div2)
print("a ** 2 =", exp)
print("resto da divisão de a por b =", resto)
print(expressao)

a + b = 14.25
a - b = 9.75
a * b = 27.0
a / b = 5.333333333333333
a // b = 5.0
a ** 2 = 144
resto da divisão de a por b = 0.75
12.69140625

In [34]:
#concatenação
a = "palavra1"
b = "palavra2"
c = a + b + "palavra3"

print(c)

palavra1palavra2palavra3

**Atribuição aumentada**

In [35]:
a = 10
print(a)

# a=a+10
a += 10  # o mesmo que a = a + 10
print(a)

a += 10  # o mesmo que a = a + 10
print(a)

a += 10  # o mesmo que a = a + 10
print(a)

10
20
30
40

**Operadores Relacionais**

In [36]:
a = 3
b = 5

print( a > b ) #verifica se a é maior que b

result = a > b
print("a > b", result)

print( a == b ) #verifica se a é igual b
print( a != b ) #verifica se a é diferente que b
print( a < b ) #verifica se a é menor que b
print( a >= b ) #verifica se a é maior ou igual  b
print( a <= b ) #verifica se a é menor ou igual b

False
a > b False
False
True
True
False
True

**Operadores lógicos (and (e), or (ou) e not (não))**

In [37]:
not False

True

In [ ]:
a = True
b = True
c = True

result_and = a and b and c and (3 < 5)

print(result_and)

True

In [38]:
m = False
n = False
r = False

result_or = m or n or r

print(result_or)

False

In [39]:
resultado = (3 < 5) and (10 < 4) and (6 > 4)

print(resultado)

False

In [40]:
v = False

f = not v   #negação - inversão do valor lógico
print(f)

True

# **3.6 EXERCÍCIOS**

1. Escreva um programa em Python que solicita ao usuário que digite seu nome, e em seguida armazena em uma variável o que foi digitado, exibindo uma mensagem de boas vindas na tela.

In [ ]:
#escreva seu código aqui

2. Escreva um programa em Python que recebe dois números e mostra o resultado da soma e a diferença entre os dois.

In [ ]:
#escreva seu código aqui

3. Armazene três números nas variáveis “a”, “b” e “c”, realize as operações solicitadas e armazene o resultado na variável "r". Exiba na tela o resultado de cada uma das operações realizadas:


*  r = a + b - c
*  r = a * (b + c)
*  r = (a + b) / c
*  r = (a + b + c) / 3

In [ ]:
#escreva seu código aqui

4. Utilize os valores de n1 = 2, n2 = 3, n3 = -1 e n4 = 8 e imprima na tela o resultado das expressões lógicas a seguir (True ou False).

*   n1 < n3
*   n3 == n4
*   n1 + n2 > n3
*   n3 / n1 < n4
*   n1 + n2 < 10 and n3 - n4 == n1
*   n3 / n2 > 0 or n1 + n3 > n4

In [ ]:
#escreva seu código aqui