# Exercícios

Nestes exercícios vamos utilizar os dados de salários da cidade de São Francisco, [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) do site do [Kaggle](https://www.kaggle.com).

1. Importe pandas como pd.

In [ ]:
import pandas as pd

2. Leia o arquivo Salaries.csv e salve as informações no DataFrame sal.

In [ ]:
sal = pd.read_csv('/content/Salaries.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3. Verifique os primeiros registros de sal.

In [ ]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

4. Use o método `info()` para descobrir o número de registros.

5. Qual é a média de BasePay?

6. Qual é o maior salário em OvertimePay no dataset?

7. Qual a profissão (JobTitle) de Courtney T Mcelrath?

8. Quanto ela recebe incluindo os benefícios (TotalPayBenefits)?

9. Qual a pessoa mais bem paga incluindo os benefícios?

10. Qual a pessoa com o pior pagamento incluindo os benefícios?

11. Qual e média da base salárial (BasePay) de todos os funcionários no período de 2011-2014?

12. Quantas profissões diferente há nessa base de dados?

13. Quais são as 5 profissões mais comuns?

14. Quantas profissões tinham apenas uma pessoa no ano de 2014?

15. Quantas pessoas tem a palavra 'Chief' na sua profissão (jobTitle)?

True

16. Há correlação (correlation) entre o tamanho do nome da profissão e o salário?